* {
    box-sizing:border-box;
}
li {
    color:green;
}
table, tr, td, th {
    border:#000 1px solid;
    padding: 5px;
    border-collapse: collapse;
}
table {
    width:100%;
}
th {
    background-color:gray;
}
tr:nth-of-type(2n+1) {
    background-color:lightgray;
}
a {
                color:blanchedalmond;
                text-decoration:none;
            }
            h1 {
                font-size: 50px;
                font-family: "Bungee", sans-serif;
                font-weight: 400;
                font-style: normal;
                letter-spacing:20px;
                text-decoration:underline;
                background-color:aquamarine;
                text-shadow:5px 5px 8px rgba(0, 60, 226, .5);
                text-transform:uppercase;
                text-align:center;
                margin:0;
            }
            p {
                font-size: 2rem;
                font-weight:bold;
                font-style:italic;
                font-family:Arial;
                line-height:40px;
                text-indent:50px;
            } 
            main {
                font-size: 2rem;
            }
            #Darren {
                font-size: 3rem;
                color:chartreuse;
            }
            #Darren1 {
                color:slateblue;
            }
            nav ul li {
                display:inline-block;
                height:40px;
                padding:10px 10px 40px 10px;
                background-color:grey;
                border:2px dotted green;
                margin:50px 30px 50px 30px;
                display:flex;
                position:relative
            }
            nav ul li ul {
                flex-direction:column;
                position:absolute;
                display:none;
            }
            nav ul li:hover ul {
                display:flex;
            }
            nav ul li a:hover {
                background-color:yellow;
                color:navy;
            }
            body {
                margin:0;
            }
            .dk {
                width:200px;
                float:left;
                padding:5px;
            }
            .duck {
                width:200px;
                float:right;
                padding:5px;
            }
            #foshizzle {
                font-size:1rem;
                position:sticky;
                top:0;
                z-index:1;
            }
            .banana {
                width:200px;
                padding:5px;
            }
            .bananau {
                width:200px;
                padding:5px;
                transform: scaleY(-1);
            }
            .bananau:hover {
                transition: all 500ms cubic-bezier(0.690, -0.600, 0.205, 1.590);
                width:300px;
            }

