#wrapper {
    width:80%;
    margin-right:auto;
    margin-left:auto;
    background-color:white;
    min-width:960px;
    max-width:2048;
    box-shadow: 0px 3px 3px rgba(66,66,66,0.3);
}
body {
    background-color:#FFFFFF;
    color:#666666;
    font-family:Verdana;
    background-image:linear-gradient(to bottom, #eeeeee, #ffffff);
    background-attachment:fixed;
}
header {
    background-color:#003058;
    color:#FFFFFF;
    font-family:Georgia;
}
header h1 {
    line-height:140%;
    padding: .5rem;
}
nav {
    font-weight:bold;
    background-color: #F3F3F3;
    padding:0.5rem 0.5rem 0.5rem 2rem;
    nav a { text-decoration: none; }
}
h2 {
    color: #424242;
    font-family:Georgia;
}
dt {
    color:#003058;
    font-weight:bold;
}
.ut {
    color:#BA1C21;
    font-weight:bold;
}
footer {
    font-size:0.7rem;
    font-style:italic;
    text-align:center;
    padding:1rem;
}
#wrapper {
    width:80%;
    margin-right:auto;
    margin-left:auto;
}
h1 {
    background-image:url(utahtechimages/utahtechlogo.svg);
    background-position:right;
    background-repeat:no-repeat;
    padding-left:1em;
    background-origin:content-box;
    margin-bottom:0;
}
h3 {
    color:#003058
}
main {
    padding-left:2rem;
    padding-right:2rem;
}
#homehero {
    height:300px;
    background-image:url(utahtechimages/homehero.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
#studenthero {
    height:300px;
    background-image:url(utahtechimages/studenthero.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
#facultyhero {
    height:300px;
    background-image:url(utahtechimages/facultyhero.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}